# API Gateway Configuration
PORT=3000
HOST=0.0.0.0
NODE_ENV=development
JWT_SECRET=your_super_secret_jwt_signing_key_at_least_8_chars
REDIS_URL=redis://localhost:6379

# Downstream Microservices Targets
IDENTITY_SERVICE_URL=http://localhost:4001
CATALOG_SERVICE_URL=http://localhost:4002
UPLOAD_SERVICE_URL=http://localhost:4003
PLAYBACK_SERVICE_URL=http://localhost:4004
TENANT_SERVICE_URL=http://localhost:4005
ENTITLEMENT_SERVICE_URL=http://localhost:4006
BILLING_SERVICE_URL=http://localhost:4007
PAYMENTS_SERVICE_URL=http://localhost:4008
ANALYTICS_SERVICE_URL=http://localhost:4009
NOTIFICATION_SERVICE_URL=http://localhost:4010
SUPPORT_SERVICE_URL=http://localhost:4011
JOB_ORCHESTRATOR_URL=http://localhost:4012

# Tenant Hostname Mapping (comma-separated "host=tenantId")
TENANT_MAPPING=localhost:3000=tenant_default,studio.localhost:3000=tenant_studio