PORT=4010
HOST=0.0.0.0
NODE_ENV=development
JWT_SECRET=your_super_secret_jwt_signing_key_at_least_8_chars
DATABASE_URL="postgresql://postgres:athul123@localhost:5433/notification_service?schema=public"

# SMTP Settings
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM="flow studio <noreply@flowstudio.com>"
